{% extends "base.html" %} {% block title %}Home{% endblock %} {% block loginForm
%} {% if current_user %} {% block head %} {% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <title>Add Blog | Ecomart</title>
    <style>
      .content-heading {
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <li class="nav-item dropdown d-flex">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Welcome,&nbsp;{{current_user.firstname}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        {% if current_user.category == 'buyer' %}
        <li>
          <a class="dropdown-item" href="/cart">My cart</a>
        </li>
        {% endif %}
        <li>
          <a class="dropdown-item" href="/logout">Logout</a>
        </li>
      </ul>
    </li>
    {% else %}
    <form class="d-flex" action="/login">
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {% endif %} {% endblock %} {% block content %}
    <div class="container mt-4">
      <form action="/add_blog" method="POST">
        <div class="form-group row">
          <label class="col-md-2 col-10 col-form-label content-heading"
            >Title :
          </label>
          <div class="col-10">
            <input type="text" name="title" class="form-control" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-10 col-form-label content-heading"
            >Description :
          </label>
          <div class="col-10">
            <textarea
              rows="10"
              cols="50"
              name="description"
              class="form-control"
            ></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-10 col-form-label content-heading"
            >Sub-Title :
          </label>
          <div class="col-10">
            <input type="text" name="sub-title" class="form-control" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-10 col-form-label content-heading"
            >Description :
          </label>
          <div class="col-10">
            <textarea
              rows="10"
              name="sub-description"
              cols="50"
              class="form-control"
            ></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="formFile"
            class="form-label content-heading col-sm-10 col-md-3"
            >Select Thumbnail :
          </label>
          <input
            class="form-control col-sm-8 col-md-4"
            type="text"
            id="formFile"
            name="thumbnail"
          />
        </div>
        <div class="form-group flex-row justify-content-end d-flex">
          <button
            type="submit"
            formaction="/dashboard"
            class="btn btn-light mr-sm-4"
          >
            Back
          </button>
          <button type="submit" class="btn btn-info">Publish</button>
        </div>
      </form>
    </div>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- 


  Title
description
subtitle
description
thumbnail
 -->
