{% extends "base.html" %} {% block title %}Add Product{% endblock %} {% block
loginForm %}
<form class="d-flex" action="/logout">
  <button class="btn btn-primary" type="submit">Logout</button>
</form>
{% endblock %} {% block content %}
<div class="container py-4" style="max-width: 580px">
  <h2 class="mb-4">Add new product</h2>
  <form action="/dashboard" method="POST" id="signup_form">
    <!-- NAME -->
    <div class="mb-3">
      <div class="row gx-3">
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              name="productname"
              type="text"
              autocomplete="name"
              class="form-control"
              id="firstName"
              placeholder="Product Name"
              aria-describedby="Product name"
            />
            <label for="productname" class="form-label">Product Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              type="text"
              name="lastname"
              autocomplete="family-name"
              class="form-control"
              id="lastName"
              placeholder="Last Name"
              aria-describedby="last name"
            />
            <label for="lastName" class="form-label">Last Name</label>
          </div>
        </div>
      </div>
    </div>
    <!-- EMAIL -->
    <div class="mb-3 form-floating">
      <input
        required="true"
        type="email"
        name="emailid"
        class="form-control"
        autocomplete="email"
        id="inputEmail"
        placeholder="name@example.com"
        aria-describedby="emailHelp"
      />
      <label for="inputEmail" class="form-label">Email address</label>
    </div>
    <!-- PASSWORD -->
    <div class="mb-3 form-floating">
      <input
        required="true"
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
      <label for="exampleInputPassword1" class="form-label">Password</label>
    </div>
    <div class="row gx-3">
      <div class="col">
        <!-- ACCOUNT TYPE -->
        <div class="mb-3 form-floating">
          <select
            class="form-select"
            id="accountType"
            aria-label="Account Type"
            name="category"
          >
            <option value="seller">Seller</option>
            <option selected value="buyer">Buyer</option>
          </select>
          <label for="accountType" class="form-label">Account Type</label>
        </div>
      </div>
      <div class="col">
        <!-- PHONE NUMBER -->
        <div class="mb-3 form-floating">
          <input
            required="true"
            type="text"
            name="contact_no"
            autocomplete="tel"
            class="form-control"
            id="phoneNumber"
            placeholder="Phone Number"
          />
          <label for="phoneNumber" class="form-label">Phone Number</label>
        </div>
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="mb-3 form-floating">
      <input
        required="true"
        type="text"
        name="address"
        class="form-control"
        id="address"
        placeholder="Password"
      />
      <label for="address" class="form-label">Address</label>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
{% endblock %}
