{% extends "base.html" %} {% block title %}Add Product{% endblock %} {% block
loginForm %}
<form class="d-flex" action="/logout">
  <button class="btn btn-primary" type="submit">Logout</button>
</form>
{% endblock %} {% block content %}
<div class="container py-4" style="max-width: 580px">
  <h2 class="mb-4">Add new product</h2>
  <form action="/dashboard" method="POST" id="signup_form">
    <!-- NAME -->
    <div class="mb-3">
      <div class="row gx-3">
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              name="productname"
              type="text"
              autocomplete="name"
              class="form-control"
              id="firstName"
              placeholder="Product Name"
              aria-describedby="Product name"
            />
            <label for="productname" class="form-label">Product Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              type="text"
              name="category"
              autocomplete="family-name"
              class="form-control"
              id="category"
              placeholder="category"
              aria-describedby="category"
            />
            <label for="category" class="form-label">Category</label>
          </div>
        </div>
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="mb-3 form-floating">
      <input
        required="true"
        type="text"
        name="address"
        class="form-control"
        id="description"
        placeholder="Description"
      />
      <label for="address" class="form-label">Description</label>
    </div>

    <div class="mb-3">
      <div class="row gx-3">
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              name="productname"
              type="text"
              autocomplete="name"
              class="form-control"
              id="firstName"
              placeholder="Product Name"
              aria-describedby="Product name"
            />
            <label for="productname" class="form-label">Product Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              required="true"
              type="text"
              name="category"
              autocomplete="family-name"
              class="form-control"
              id="category"
              placeholder="category"
              aria-describedby="category"
            />
            <label for="category" class="form-label">Category</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
{% endblock %}
