{% extends "base.html" %} {% block title %}Home{% endblock %} {% block loginForm
%} {% if current_user %} {% block head %} {% endblock %}
<li class="nav-item dropdown d-flex">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Welcome,&nbsp;{{current_user.firstname}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    {% if current_user.category == 'buyer' %}
    <li>
      <a class="dropdown-item" href="/cart">My cart</a>
    </li>
    {% endif %}
    <li>
      <a class="dropdown-item" href="/logout">Logout</a>
    </li>
  </ul>
</li>
{% else %}
<form class="d-flex" action="/login">
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %} {% endblock %} {% block content %}
<form action="/add_blog" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" /><br />
  <label for="description">Description</label>
  <input type="text" name="description" />
</form>
{% endblock %}
