{% extends "base.html" %} {% block title %}Billing | {% endblock %} {% block
    loginForm %}
    <form class="d-flex" action="/logout">
      <button class="btn btn-primary" type="submit">Logout</button>
    </form>
    {% endblock %}
   
    {% block content %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
    <style>
        #heading{
            font-size: 10vh;
        }
        .jumbotron{
            padding-bottom: 0;
            padding-top: 8vh;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">

                <div class="col-md-6 col-10 p-4">
                    <div class="row">
                        <h1 id="heading">Billing Page</h1>
                   </div>
                   <div class="row pt-4">
                       <h5>Points remaining : {{current_user.points - product[0][8] }}</h5>
                   </div>
                </div>
                <div class="col-md-3 col-10 offset-2">
                    <table class="table">
                        <caption>
                            <span class="badge badge-pill badge-info">Discount</span>
                        </caption>
                        <thead>
                          <tr>
                            <td scope="col">Total Price</td>
                            <td scope="col">{{product[0][6]}}</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Points used</td>
                            <td>{{product[0][8]}}</td>
                          </tr>
                          <tr>
                            <th>Price to pay</th>
                            <th>{{product[0][6] - product[0][8] }}</th>
                          </tr>
                        </tbody>
                      </table>
                </div>


            </div>
            
           
           
        </div>
        <div class="col-10">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for i in product%}
                      <tr>
                        <th scope="row">1</th>
                        <td>{{i[3]}}</td>
                        <td>1</td>
                        <td>{{i[6]}}</td>
                      </tr>
                      {%  endfor %}
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Bottle</td>
                        <td>5</td>
                        <td>500</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Eco hand-purse</td>
                        <td>1</td>
                        <td>1000</td>
                      </tr> -->
                    </tbody>
                  </table>
            </div>
            <div class="d-flex justify-content-end">
                
                    <button type="button" class="btn btn-success mb-4">Proceed to buy</button>
            
                
            </div>
        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>
{% endblock %}