{% extends "base.html" %}
<!-- Title -->
{% block title %}Dashboard{% endblock %}
<!-- Logout button -->
{% block loginForm %}
<form class="d-flex" action="/logout">
  <button class="btn btn-primary" type="submit">Logout</button>
</form>
<br />
{% endblock %}
<!-- Main Content -->
{% block content %}
<br />
<div class="jumbotron d-md-flex flex-md-row justify-content-between ">
  <!-- <section class="" style="margin: 20px 30px"> -->
  <div class="col-10 col-md-6 p-4">
    <h1>Welcome {{current_user.firstname}} {{current_user.lastname}}!</h1>
  </div>

  <div class=" col-10 col-md-4">
    <div class="card card-body">
      <div>
        {% if current_user.category == 'seller' %}
        <p>
          Company Name: {{current_user.firstname}} {{current_user.lastname}}
        </p>
        <p>Contact number: {{current_user.contact_no}}</p>
        <p>Address: {{current_user.address}}</p>
        {% elif current_user.category == 'buyer' %}
        <p>Name: {{current_user.firstname}} {{current_user.lastname}}</p>
        <p>Contact number: {{current_user.contact_no}}</p>
        <p>Remaining points: {{current_user.points}}</p>
        {% else %}
        <p>Emailid: {{current_user.emailid}}</p>
        <p>Contact number: {{current_user.contact_no}}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- </section> -->

  <hr />
</div>

<!-- Seller dashboard -->
{% if current_user.category == "seller"%}
<section style="margin: 30px">
  
  <div class="d-md-flex flex-row justify-content-between">
    
    <div class="col-10 col-md-4">
      <h2>List of products :</h2>
    </div>
    <div class="col-10 col-md-4 offset-md-2">
      <form action="./add_product">
        <button
          type="submit"
          class="btn btn-outline-primary col-md-8 col-10"
          aria-hidden="true"
        >
          New Product
        </button>
      </form>
    </div>
    
  </div>
  <div>
    <div class="row">
      {%for i in products%}
      <div class="col-10 col-md-4 mt-4">
        <div class="card h-100" style="width: 18rem;">
          <div style="padding: 10px">
            <p>Name: {{i[3]}}</p>
            <p>Type: {{i[4]}}</p>
            <p>Description: {{i[5]}}</p>
            <p>Quantity: {{i[7]}}</p>
            <p>Price: &#8377;{{i[6]}}</p>
          </div>
          <form action="./update/{{i[0]}}" class="mt-auto">
            <button
              type="submit"
              class="btn btn-success col-10 mb-2"
              style="border-radius: 0 0 0 0"
              aria-hidden="true"
            >
              Update
            </button>
          </form>
          <form action="./delete_product/{{i[0]}}">
            <button
              type="submit"
              class="btn btn-danger col-10 mb-4"
              style="border-radius: 0 0 5px 5px"
              aria-hidden="true"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<!-- Success Toast -->
{% with messages = get_flashed_messages() %}
<!-- if messages -->
{% if messages %}
<!-- for -->
{% for message in messages %}
<div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 11">
  <div
    style="max-width: 250px"
    class="toast align-items-center bg-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body fs-6 text-white w-100">{{ message }}</div>
      <button
        type="button"
        class="btn-close me-2 m-auto btn-close-white"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
{% endfor %}
<!-- endfor -->
{% endif %}
<!-- endif -->
{% endwith %}
<!-- endwith -->
{% endif %}
<!-- Initialise toasts -->
<script>
  // Enable live toast
  let toastElList = [].slice.call(document.querySelectorAll(".toast"));
  let toastList = toastElList.map(function (toastEl) {
    return new bootstrap.Toast(toastEl);
  });
  toastList.forEach((toast) => toast.show());
</script>

<!-- Buyer dashboard -->
{% if current_user.category == "buyer"%}
<div class="d-md-flex flex-row justify-content-between mt-4">
  <div class="container col-md-6 d-none d-md-block">

  </div>
  <div class="container col-md-6 col-12">
    <form action="/add_recycling_product col-md-12">
      <button
        class="btn btn-outline-primary col-10 col-md-7 ml-2 offset-md-2 my-2"
        style="border-radius: 0 0 5px 5px"
        aria-hidden="true"
        type="submit"
      >
        Giveaway
      </button>
    </form>
  </div>
</div>



{% if orders!=[] %}
<div class="d-flex flex-row justify-content-center">
  <h3 class="mt-2">Order History</h3>
</div>
<br />

<div class="row">
  {%for order in orders%}
  <div class="col-10 col-md-3 m-4">
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i><h4>{{order[2]}}</h4></i>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: {{order[3]}}</li>
        <li class="list-group-item">Quantity: {{order[5]}}</li>
        <li class="list-group-item">Price: {{order[6]}}</li>
      </ul>
    </div>
  </div>
  {%endfor%}
</div>
 {% endif %} {% endif %} {% endblock %}
