{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
loginForm %} {% if current_user %}

{% block head %}
    <link rel="stylesheet" href=" {{ url_for('static',filename='sidebars.css') }} ">
    <style>
      .float-container {
      border: 3px solid #fff;
      padding: 20px;
  }
  
  .float-child {
      width: 50%;
      float: left;
      padding: 20px;
      /* border: 2px solid red; */
  }  
    </style>
    
{% endblock %}


<li class="nav-item dropdown d-flex">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Welcome,&nbsp;{{current_user.firstname}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" href="/logout">Logout</a>
    </li>
  </ul>
</li>
{% else %}
<form class="d-flex" action="/login">
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %} {% endblock %} 

{% block content %}
<!-- <h1
  class="text-center my-5 d-flex justify-content-center align-items-center"
  style="height: 40vh"
>
  Coming Soon :)
</h1> -->

<div class="float-container">
<div class="float-child">
<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Collapsible</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Updates</a></li>
          <li><a href="#" class="link-dark rounded">Reports</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Weekly</a></li>
          <li><a href="#" class="link-dark rounded">Monthly</a></li>
          <li><a href="#" class="link-dark rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New</a></li>
          <li><a href="#" class="link-dark rounded">Processed</a></li>
          <li><a href="#" class="link-dark rounded">Shipped</a></li>
          <li><a href="#" class="link-dark rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="float-child">
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4  my-4 ">
    {%for i in products%}
    <div class="card">
      <h1>Name: {{i["PRODUCT_NAME"]}}</h1>
      <p>Type: {{i["PRODUCT_CATEGORY"]}}</p>
      <p>Description: {{i["DESCRIPTION"]}}</p>
      <p>Quantity: {{i["QUANTITY"]}}</p>
      <p class="price">Price: &#8377;{{i["PRICE"]}}</p>
      <p>
        <button onclick="window.location.href = './buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = './addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>
    {%endfor%}
  </div>
</div>
</div>

</div> 
<!-- float-container -->



<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/bag.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = 'templates/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = 'templates/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/papernapkins.jpg" style="width: 100%" />
      <h1>Recycled Paper Napkins</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/Paper_bowl.jpg" style="width: 100%" />
      <h1>HandMade Recycled Paper Bowl</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/paperart.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/bag.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/papernapkins.jpg" style="width: 100%" />
      <h1>Recycled Paper Napkins</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/Paper_bowl.jpg" style="width: 100%" />
      <h1>HandMade Recycled Paper Bowl</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/paperart.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/bag.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/papernapkins.jpg" style="width: 100%" />
      <h1>Recycled Paper Napkins</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/Paper_bowl.jpg" style="width: 100%" />
      <h1>HandMade Recycled Paper Bowl</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/paperart.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/bag.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/papernapkins.jpg" style="width: 100%" />
      <h1>Recycled Paper Napkins</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/Paper_bowl.jpg" style="width: 100%" />
      <h1>HandMade Recycled Paper Bowl</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>

    <div class="card">
      <img src="/static/paperart.jpg" style="width: 100%" />
      <h1>HandMade Recycled Bag</h1>
      <p class="price">$2.99</p>
      <p>Some text about the bags..</p>
      <p>
        <button onclick="window.location.href = '/buynow.html';">
          Buy Now</button
        ><button onclick="window.location.href = '/addtocart.html';">
          Add to Cart
        </button>
      </p>
    </div>
  </div>
</div>


<script src = "{{ url_for('static',filename='sidebars.js') }} "></script>


{% endblock %}
