{% extends "base.html" %} {% block title %}{{product[3]}}{% endblock %}

<!-- LOGIN FORM -->
{% block loginForm %} {% if current_user.firstname %}
<li class="nav-item dropdown d-flex">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Welcome,&nbsp;{{current_user.firstname}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    {% if current_user.category == 'buyer' %}
    <li>
      <a class="dropdown-item" href="/cart">My cart</a>
    </li>
    {% endif %}
    <li>
      <a class="dropdown-item" href="/logout">Logout</a>
    </li>
  </ul>
</li>
{% else %}
<form class="d-flex" action="/login">
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %} {% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="container-fluid">
  <div class="container-sm my-5">
    <h1>{{product[3]}}</h1>
    <hr />
    <div class="media d-sm-flex">
      <img
        id="product-image"
        class="img-thumbnail w-25 me-5 mb-4"
        alt="product image"
        src="{{product[2]}}"
      />
      <div class="media-body">
        <h5 class="mt-0 d-flex align-items-center">
          {{product[4]}}<span class="badge bg-primary ms-2">category</span>
        </h5>
        <!-- to do: fetch supplier's name -->
        <p class="text-muted">
          Sold by <a href="#">{{seller[0][3]}} {{seller[0][4]}}</a>
        </p>
        {% if product[7] > 10 %}
        <p class="text-success">In Stock</p>
        {% else %}
        <p class="text-danger fw-bolder">Only {{product[7]}} left!</p>
        {% endif %}
        <p>(Description) {{product[5]}}</p>
        <hr />
        <blockquote class="blockquote ms-4">
          <p class="">M.R.P.: ₹{{product[6]}}</p>
        </blockquote>
        <hr />

        <div class="accordion" id="pointsAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Points / Coupons
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse hide"
              aria-labelledby="headingOne"
              data-bs-parent="#pointsAccordion"
            >
              <div class="accordion-body">
                <strong>You have {{current_user.points}} points!</strong> <br />
                You can use these to get a discount on the M.R.P.
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex my-3 justify-content-end">
          <form action="/addToCart/{{product[0]}}" method="POST">
            <div class="def-number-input number-input safari_only mb-0 w-100">
              <button
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                class="minus decrease"
              ></button>
              <input
                class="quantity"
                name="quantity"
                min="0"
                value="1"
                type="number"
              />
              <button
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                class="plus increase"
              ></button>
            </div>
            <hr />
            <button
              class="btn btn-outline-primary me-2"
              formaction="/addtocart/{{product[0]}}"
              method="POST"
              type="submit"
            >
              Add to Cart<i class="bi bi-cart me-2 d-none d-sm-inline"></i>
            </button>

            <button
              class="btn btn-success"
              type="submit"
              formaction="/buynow/{{product[0]}}"
              method="POST"
            >
              Buy Now<i class="bi bi-arrow-right d-none d-sm-inline ms-2"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media only screen and (max-width: 576px) {
    #product-image {
      width: 60% !important;
      margin: 0 auto !important;
      margin-bottom: 1rem !important;
      display: block !important;
    }
  }

  @media only screen and (min-width: 576px) {
    #product-image {
      width: 40% !important;
      margin-bottom: auto !important;
    }
  }
</style>
{% endblock %}
