{% extends "base.html" %}
{% block content %}
    <form action="/signup" method="POST">
        emailid: <input type="email" name="emailid" maxlength="200" width="60" required>
        password:<input type="password" name="password" width="60" required>
        <label for="category">Choose category:</label>
        <select id="category" name="category">
            <option value="seller">seller</option>
            <option value="buyer">buyer</option>
      
        </select>
        first name:<input type="text" name="firstname" width="60" required>
        last name:<input type="text" name="lastname" width="60" required>
        contact_no:<input type="text" name="contact_no" width="60" required>
        address:<input type="text" name="address" width="60" required>
        <input type="submit" value="signup">
    </form>
{% endblock %}